html, body, #__next{
  height: 100% !important;
  transition: all 0.2s !important;
}

.profile {
  width: 12rem;
  margin: 0.1rem 1.8rem 0 0;
  border-radius: 8px;

  @media (max-width: 768px) {
    width: 8rem;
  }
}

article {
  padding-top: 1rem !important;
  transition: all 0.2s ease;
}


.bio {
  line-height: 1.5rem;
  text-align: justify;
}

.work-link {
  text-decoration: none;
}

.work-link:hover {
  color: #1E40AF;
  text-decoration: underline;
}
.links {
  
  display: flex;
  align-items: center;
  margin: 0 0.5rem 0 0;

  @media(max-width: 768px) {
    margin-left: 0.8rem;
  }
}

.link-icon {
  width: 2rem;
  height: 2rem;
  @media (max-width: 768px) {
    width: 1rem;
    height: 1rem;
  }
}

.social-media {
  width: 10rem;
  height: 6.8rem;
  margin: 0 1.5rem 0 0;
  transition: all 0.2s ease;
  padding: 0.8rem;
  border-radius: 0.5rem;
  border: 1px solid transparent;

  @media(max-width:768px) {
    height: 4.8rem;
    margin: 0.5rem 0.4rem 0 0;
    padding: 0.8rem 1rem; 
    border-color: #1E40AF;

    font-size: 0.6rem;
    text-decoration: none;
  }
}

.social-media:hover {
  border: 1px solid var(--shiki-color-text);
}

hr {
  border-color: #2a60aa !important;
}

span.nx-cursor-pointer.nx-p-2.nx-text-current {
  border: 1px solid #2a60aa !important;
  border-radius: 6px;
  width: 3rem;
  height: 2.5rem;
  display: flex; 
  align-items: center;
  justify-content: center;
  margin: 0.4rem 0 0 1rem;
  transition: all 0.2s; 
}
span.nx-cursor-pointer.nx-p-2.nx-text-current:hover{
  background-color: #1E40AF;
  color: #fff;
  border: 0px;
}

path {
  fill: var(--shiki-color-text)
}

.text-legend {
  font-size: 0.6rem;
  margin-top: 0;
  padding: 0;
}

.cv-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 0.6rem;
  transition: all 0.2s;
  @media (max-width: 768px) {
    width: 1rem;
    height: 1rem;
  }
}

.curriculum-text {
    font-weight: 800;
    margin-left: 0.4rem;
    display: flex; 
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    transition: all 0.2s;
}
.curriculum-text a {
  display: flex;
  align-items: center;
  color: #1E40AF !important;
}

